<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Atividade principal (sem ícone, ícone definido pelos aliases) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- Alias para cada idioma, agora com android:exported -->
        <activity-alias
            android:name=".MainActivity_en"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_en"
            android:roundIcon="@mipmap/ic_launcher_en_round"
            android:enabled="true"
            android:exported="true">  <!-- Adicionado -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_pt"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pt"
            android:roundIcon="@mipmap/ic_launcher_pt_round"
            android:enabled="false"
            android:exported="true">  <!-- Adicionado -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_es"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_es"
            android:roundIcon="@mipmap/ic_launcher_es_round"
            android:enabled="false"
            android:exported="true">  <!-- Adicionado -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_de"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_de"
            android:roundIcon="@mipmap/ic_launcher_de_round"
            android:enabled="false"
            android:exported="true">  <!-- Adicionado -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
